.vscode/settings.json
client/be/static/er5/done/ru/kryzhovnik_ru.txt
client/be/static/er5/done/zh/kryzhovnik_zh.txt
client/be/static/er5/raw/ru/idiot_ru.txt
client/be/static/er5/raw/ru/kryzhovnik_ru.txt
client/be/static/er5/raw/zh/idiot_zh.txt
client/be/static/er5/raw/zh/kryzhovnik_zh.txt
client/be/static/er5/splitted/ru/idiot_ru.txt
client/be/static/er5/splitted/ru/kryzhovnik_ru.txt
client/be/static/er5/splitted/zh/idiot_zh.txt
client/be/static/er5/splitted/zh/kryzhovnik_zh.txt
client/be/static/er6/done/ru/chekhov_futlar_ru.txt
client/be/static/er6/done/ru/kryzhovnik_ru.txt
client/be/static/er6/done/zh/chekhov_futlar_zh.txt
client/be/static/er6/done/zh/kryzhovnik_zh.txt
client/be/static/er6/processing/ru/chekhov_futlar_ru.txt
client/be/static/er6/processing/ru/kryzhovnik_ru.txt
client/be/static/er6/raw/ru/chekhov_futlar_ru.txt
client/be/static/er6/raw/ru/kryzhovnik_ru.txt
client/be/static/er6/raw/zh/chekhov_futlar_zh.txt
client/be/static/er6/raw/zh/kryzhovnik_zh.txt
client/be/static/er6/splitted/ru/chekhov_futlar_ru.txt
client/be/static/er6/splitted/ru/kryzhovnik_ru.txt
client/be/static/er6/splitted/zh/chekhov_futlar_zh.txt
client/be/static/er6/splitted/zh/kryzhovnik_zh.txt
client/be/static/er7/done/ru/chekhov_futlar_ru.txt
client/be/static/er7/done/ru/idiot_ru.txt
client/be/static/er7/done/ru/kryzhovnik_ru.txt
client/be/static/er7/done/zh/chekhov_futlar_zh.txt
client/be/static/er7/done/zh/idiot_zh.txt
client/be/static/er7/done/zh/kryzhovnik_zh.txt
client/be/static/er7/processing/ru/chekhov_futlar_ru.txt
client/be/static/er7/processing/ru/idiot_ru.txt
client/be/static/er7/processing/ru/kryzhovnik_ru.txt
client/be/static/er7/raw/ru/chekhov_futlar_ru.txt
client/be/static/er7/raw/ru/idiot_ru.txt
client/be/static/er7/raw/ru/kryzhovnik_ru.txt
client/be/static/er7/raw/zh/chekhov_futlar_zh.txt
client/be/static/er7/raw/zh/idiot_zh.txt
client/be/static/er7/raw/zh/kryzhovnik_zh.txt
client/be/static/er7/splitted/ru/chekhov_futlar_ru.txt
client/be/static/er7/splitted/ru/idiot_ru.txt
client/be/static/er7/splitted/ru/kryzhovnik_ru.txt
client/be/static/er7/splitted/zh/chekhov_futlar_zh.txt
client/be/static/er7/splitted/zh/idiot_zh.txt
client/be/static/er7/splitted/zh/kryzhovnik_zh.txt
client/be/static/er7/done/ru/chekhov_6_ru.txt
client/be/static/er7/done/zh/chekhov_6_zh.txt
client/be/static/er7/processing/ru/chekhov_6_ru.txt
client/be/static/er7/raw/ru/chekhov_6_ru.txt
client/be/static/er7/raw/zh/chekhov_6_zh.txt
client/be/static/er7/splitted/ru/chekhov_6_ru.txt
client/be/static/er7/splitted/zh/chekhov_6_zh.txt
client/be/static/er8/done/ru/kryzhovnik_ru.txt
client/be/static/er8/done/zh/kryzhovnik_zh.txt
client/be/static/er8/processing/ru/kryzhovnik_ru.txt
client/be/static/er8/raw/ru/kryzhovnik_ru.txt
client/be/static/er8/raw/zh/kryzhovnik_zh.txt
client/be/static/er8/splitted/ru/kryzhovnik_ru.txt
client/be/static/er8/splitted/zh/kryzhovnik_zh.txt
client/be/static/er8/done/ru/master_ru.txt
client/be/static/er8/done/zh/master_zh.txt
client/be/static/er8/processing/ru/master_ru.txt
client/be/static/er8/raw/ru/master_ru.txt
client/be/static/er8/raw/zh/master_zh.txt
client/be/static/er8/splitted/ru/master_ru.txt
client/be/static/er8/splitted/zh/master_zh.txt
client/be/static/xxx/done/ru/kryzhovnik_ru.txt
client/be/static/xxx/done/ru/piknik_ru.txt
client/be/static/xxx/done/zh/kryzhovnik_zh.txt
client/be/static/xxx/done/zh/piknik_de.txt
client/be/static/xxx/processing/ru/kryzhovnik_ru.txt
client/be/static/xxx/processing/ru/piknik_ru.txt
client/be/static/xxx/raw/ru/idiot_ru.txt
client/be/static/xxx/raw/ru/kryzhovnik_ru.txt
client/be/static/xxx/raw/ru/piknik_ru.txt
client/be/static/xxx/raw/zh/chekhov_6_zh.txt
client/be/static/xxx/raw/zh/idiot_zh.txt
client/be/static/xxx/raw/zh/kryzhovnik_zh.txt
client/be/static/xxx/raw/zh/piknik_de.txt
client/be/static/xxx/splitted/ru/idiot_ru.txt
client/be/static/xxx/splitted/ru/kryzhovnik_ru.txt
client/be/static/xxx/splitted/ru/piknik_ru.txt
client/be/static/xxx/splitted/zh/chekhov_6_zh.txt
client/be/static/xxx/splitted/zh/idiot_zh.txt
client/be/static/xxx/splitted/zh/kryzhovnik_zh.txt
client/be/static/xxx/splitted/zh/piknik_de.txt
