.vscode/settings.json
client/be/app/data/*
client/be/app/static/img/*
client/fe/node_modules
client/be/static/er5/done/ru/kryzhovnik_ru.txt
client/be/static/er5/done/zh/kryzhovnik_zh.txt
client/be/static/er5/raw/ru/idiot_ru.txt
client/be/static/er5/raw/ru/kryzhovnik_ru.txt
client/be/static/er5/raw/zh/idiot_zh.txt
client/be/static/er5/raw/zh/kryzhovnik_zh.txt
client/be/static/er5/splitted/ru/idiot_ru.txt
client/be/static/er5/splitted/ru/kryzhovnik_ru.txt
client/be/static/er5/splitted/zh/idiot_zh.txt
client/be/static/er5/splitted/zh/kryzhovnik_zh.txt
client/be/static/er6/done/ru/chekhov_futlar_ru.txt
client/be/static/er6/done/ru/kryzhovnik_ru.txt
client/be/static/er6/done/zh/chekhov_futlar_zh.txt
client/be/static/er6/done/zh/kryzhovnik_zh.txt
client/be/static/er6/processing/ru/chekhov_futlar_ru.txt
client/be/static/er6/processing/ru/kryzhovnik_ru.txt
client/be/static/er6/raw/ru/chekhov_futlar_ru.txt
client/be/static/er6/raw/ru/kryzhovnik_ru.txt
client/be/static/er6/raw/zh/chekhov_futlar_zh.txt
client/be/static/er6/raw/zh/kryzhovnik_zh.txt
client/be/static/er6/splitted/ru/chekhov_futlar_ru.txt
client/be/static/er6/splitted/ru/kryzhovnik_ru.txt
client/be/static/er6/splitted/zh/chekhov_futlar_zh.txt
client/be/static/er6/splitted/zh/kryzhovnik_zh.txt
client/be/static/er7/done/ru/chekhov_futlar_ru.txt
client/be/static/er7/done/ru/idiot_ru.txt
client/be/static/er7/done/ru/kryzhovnik_ru.txt
client/be/static/er7/done/zh/chekhov_futlar_zh.txt
client/be/static/er7/done/zh/idiot_zh.txt
client/be/static/er7/done/zh/kryzhovnik_zh.txt
client/be/static/er7/processing/ru/chekhov_futlar_ru.txt
client/be/static/er7/processing/ru/idiot_ru.txt
client/be/static/er7/processing/ru/kryzhovnik_ru.txt
client/be/static/er7/raw/ru/chekhov_futlar_ru.txt
client/be/static/er7/raw/ru/idiot_ru.txt
client/be/static/er7/raw/ru/kryzhovnik_ru.txt
client/be/static/er7/raw/zh/chekhov_futlar_zh.txt
client/be/static/er7/raw/zh/idiot_zh.txt
client/be/static/er7/raw/zh/kryzhovnik_zh.txt
client/be/static/er7/splitted/ru/chekhov_futlar_ru.txt
client/be/static/er7/splitted/ru/idiot_ru.txt
client/be/static/er7/splitted/ru/kryzhovnik_ru.txt
client/be/static/er7/splitted/zh/chekhov_futlar_zh.txt
client/be/static/er7/splitted/zh/idiot_zh.txt
client/be/static/er7/splitted/zh/kryzhovnik_zh.txt
client/be/static/er7/done/ru/chekhov_6_ru.txt
client/be/static/er7/done/zh/chekhov_6_zh.txt
client/be/static/er7/processing/ru/chekhov_6_ru.txt
client/be/static/er7/raw/ru/chekhov_6_ru.txt
client/be/static/er7/raw/zh/chekhov_6_zh.txt
client/be/static/er7/splitted/ru/chekhov_6_ru.txt
client/be/static/er7/splitted/zh/chekhov_6_zh.txt
client/be/static/er8/done/ru/kryzhovnik_ru.txt
client/be/static/er8/done/zh/kryzhovnik_zh.txt
client/be/static/er8/processing/ru/kryzhovnik_ru.txt
client/be/static/er8/raw/ru/kryzhovnik_ru.txt
client/be/static/er8/raw/zh/kryzhovnik_zh.txt
client/be/static/er8/splitted/ru/kryzhovnik_ru.txt
client/be/static/er8/splitted/zh/kryzhovnik_zh.txt
client/be/static/er8/done/ru/master_ru.txt
client/be/static/er8/done/zh/master_zh.txt
client/be/static/er8/processing/ru/master_ru.txt
client/be/static/er8/raw/ru/master_ru.txt
client/be/static/er8/raw/zh/master_zh.txt
client/be/static/er8/splitted/ru/master_ru.txt
client/be/static/er8/splitted/zh/master_zh.txt
client/be/static/xxx/done/ru/kryzhovnik_ru.txt
client/be/static/xxx/done/ru/piknik_ru.txt
client/be/static/xxx/done/zh/kryzhovnik_zh.txt
client/be/static/xxx/done/zh/piknik_de.txt
client/be/static/xxx/processing/ru/kryzhovnik_ru.txt
client/be/static/xxx/processing/ru/piknik_ru.txt
client/be/static/xxx/raw/ru/idiot_ru.txt
client/be/static/xxx/raw/ru/kryzhovnik_ru.txt
client/be/static/xxx/raw/ru/piknik_ru.txt
client/be/static/xxx/raw/zh/chekhov_6_zh.txt
client/be/static/xxx/raw/zh/idiot_zh.txt
client/be/static/xxx/raw/zh/kryzhovnik_zh.txt
client/be/static/xxx/raw/zh/piknik_de.txt
client/be/static/xxx/splitted/ru/idiot_ru.txt
client/be/static/xxx/splitted/ru/kryzhovnik_ru.txt
client/be/static/xxx/splitted/ru/piknik_ru.txt
client/be/static/xxx/splitted/zh/chekhov_6_zh.txt
client/be/static/xxx/splitted/zh/idiot_zh.txt
client/be/static/xxx/splitted/zh/kryzhovnik_zh.txt
client/be/static/xxx/splitted/zh/piknik_de.txt
client/be/static/xxx/done/ru/chekhov_6_ru.txt
client/be/static/xxx/done/ru/chekhov_futlar_ru.txt
client/be/static/xxx/done/zh/chekhov_6_zh.txt
client/be/static/xxx/done/zh/chekhov_futlar_zh.txt
client/be/static/xxx/processing/ru/chekhov_6_ru.txt
client/be/static/xxx/processing/ru/chekhov_futlar_ru.txt
client/be/static/xxx/raw/ru/chekhov_6_ru.txt
client/be/static/xxx/raw/ru/chekhov_futlar_ru.txt
client/be/static/xxx/raw/zh/chekhov_futlar_zh.txt
client/be/static/xxx/splitted/ru/chekhov_6_ru.txt
client/be/static/xxx/splitted/ru/chekhov_futlar_ru.txt
client/be/static/xxx/splitted/zh/chekhov_futlar_zh.txt
client/be/static/sergei/done/ru/kryzhovnik_ru.txt
client/be/static/sergei/done/zh/kryzhovnik_zh.txt
client/be/static/sergei/processing/ru/kryzhovnik_ru.txt
client/be/static/sergei/raw/ru/kryzhovnik_ru.txt
client/be/static/sergei/raw/zh/kryzhovnik_zh.txt
client/be/static/sergei/splitted/ru/kryzhovnik_ru.txt
client/be/static/sergei/splitted/zh/kryzhovnik_zh.txt
client/be/static/julia/done/ru/kryzhovnik_ru.txt
client/be/static/julia/done/ru/stal_ru.txt
client/be/static/julia/done/zh/kryzhovnik_zh.txt
client/be/static/julia/done/zh/stal_zh.txt
client/be/static/julia/processing/ru/kryzhovnik_ru.txt
client/be/static/julia/raw/ru/idiot_ru.txt
client/be/static/julia/raw/ru/kryzhovnik_ru.txt
client/be/static/julia/raw/ru/stal_ru.txt
client/be/static/julia/raw/zh/kryzhovnik_zh.txt
client/be/static/julia/raw/zh/stal_zh.txt
client/be/static/julia/splitted/ru/idiot_ru.txt
client/be/static/julia/splitted/ru/kryzhovnik_ru.txt
client/be/static/julia/splitted/ru/stal_ru.txt
client/be/static/julia/splitted/zh/kryzhovnik_zh.txt
client/be/static/julia/splitted/zh/stal_zh.txt
client/be/__pycache__/aligner.cpython-38.pyc
client/be/__pycache__/config.cpython-38.pyc
client/be/__pycache__/constants.cpython-38.pyc
client/be/__pycache__/helper.cpython-38.pyc
client/be/__pycache__/model_dispatcher.cpython-38.pyc
client/be/__pycache__/splitter.cpython-38.pyc
client/be/static/serg/done/ru/chekhov_futlar_ru.txt
client/be/static/serg/done/ru/kryzhovnik_ru.txt
client/be/static/serg/done/zh/chekhov_futlar_zh.txt
client/be/static/serg/done/zh/kryzhovnik_zh.txt
client/be/static/serg/processing/ru/chekhov_futlar_ru.txt
client/be/static/serg/raw/ru/chekhov_futlar_ru.txt
client/be/static/serg/raw/ru/kryzhovnik_ru.txt
client/be/static/serg/raw/zh/chekhov_futlar_zh.txt
client/be/static/serg/raw/zh/kryzhovnik_zh.txt
client/be/static/serg/splitted/ru/chekhov_futlar_ru.txt
client/be/static/serg/splitted/ru/kryzhovnik_ru.txt
client/be/static/serg/splitted/zh/chekhov_futlar_zh.txt
client/be/static/serg/splitted/zh/kryzhovnik_zh.txt
client/be/static/serg/processing/ru/kryzhovnik_ru.txt
client/be/static/serg/processing/ru/turgenev_love_ru.txt
client/be/static/serg/raw/ru/turgenev_love_ru.txt
client/be/static/serg/raw/zh/turgenev_love_zh.txt
client/be/static/serg/splitted/ru/turgenev_love_ru.txt
client/be/static/serg/splitted/zh/turgenev_love_zh.txt
client/be/static/serg/raw/ru/master_ru.txt
client/be/static/serg/raw/ru/turgenev_love_zh.txt
client/be/static/serg/raw/zh/_chekhov_6_ru.txt
client/be/static/serg/raw/zh/_chekhov_6_zh.txt
client/be/static/serg/raw/zh/master_zh.txt
client/be/static/serg/splitted/ru/master_ru.txt
client/be/static/serg/splitted/ru/turgenev_love_zh.txt
client/be/static/serg/splitted/zh/_chekhov_6_ru.txt
client/be/static/serg/splitted/zh/_chekhov_6_zh.txt
client/be/static/serg/splitted/zh/master_zh.txt
client/be/static/serg2/processing/ru/lu_xun_ben_ye_ru.txt
client/be/static/serg2/raw/ru/lu_xun_ben_ye_ru.txt
client/be/static/serg2/raw/zh/lu_xun_ben_ye_zh.txt
client/be/static/serg2/splitted/ru/lu_xun_ben_ye_ru.txt
client/be/static/serg2/splitted/zh/lu_xun_ben_ye_zh.txt
client/be/models/sentence_transformers.bin
client/be/app/__pycache__/aligner.cpython-38.pyc
client/be/app/__pycache__/config.cpython-38.pyc
client/be/app/__pycache__/constants.cpython-38.pyc
client/be/app/__pycache__/helper.cpython-38.pyc
client/be/app/__pycache__/model_dispatcher.cpython-38.pyc
client/be/app/__pycache__/splitter.cpython-38.pyc
client/be/app/models/sentence_transformers.bin
client/be/app/2.0.0rc0
client/be/app/req3.txt
client/be/app/requirements.txt
client/be/app/use_multilingual_v3.bin
client/be/app/data/serg/processing/ru/chekhov_6_ru.txt
client/be/app/data/serg/processing/ru/kryzhovnik_ru.txt
client/be/app/data/serg/raw/ru/chekhov_6_ru.txt
client/be/app/data/serg/raw/ru/idiot_ru.txt
client/be/app/data/serg/raw/ru/kryzhovnik_ru.txt
client/be/app/data/serg/raw/zh/chekhov_6_zh.txt
client/be/app/data/serg/raw/zh/idiot_zh.txt
client/be/app/data/serg/raw/zh/kryzhovnik_zh.txt
client/be/app/data/serg/splitted/ru/chekhov_6_ru.txt
client/be/app/data/serg/splitted/ru/idiot_ru.txt
client/be/app/data/serg/splitted/ru/kryzhovnik_ru.txt
client/be/app/data/serg/splitted/zh/chekhov_6_zh.txt
client/be/app/data/serg/splitted/zh/idiot_zh.txt
client/be/app/data/serg/splitted/zh/kryzhovnik_zh.txt
client/be/app/_requirements.txt
client/be/app/data/serg/processing/ru/_chekhov_6_ru.txt
client/be/app/data/serg/processing/ru/chekhov_futlar_ru.txt
client/be/app/data/serg/raw/ru/_chekhov_6_ru.txt
client/be/app/data/serg/raw/ru/chekhov_futlar_ru.txt
client/be/app/data/serg/raw/zh/_chekhov_6_zh.txt
client/be/app/data/serg/raw/zh/chekhov_futlar_zh.txt
client/be/app/data/serg/splitted/ru/_chekhov_6_ru.txt
client/be/app/data/serg/splitted/ru/chekhov_futlar_ru.txt
client/be/app/data/serg/splitted/zh/_chekhov_6_zh.txt
client/be/app/data/serg/splitted/zh/chekhov_futlar_zh.txt
client/be/app/models/__pycache__/use_multilingual_models.cpython-38.pyc
client/be/app/models/__pycache__/sententense_transformers_models.cpython-38.pyc
client/be/app/models/use_multilingual_models_saved/saved_model.pb
client/be/app/models/use_multilingual_models_saved/variables/variables.data-00000-of-00001
client/be/app/models/use_multilingual_models_saved/variables/variables.index
client/be/app/app.log
.vscode/.ropeproject/objectdb
.vscode/.ropeproject/config.py
client/be/app/__pycache__/aligner.cpython-37.pyc
client/be/app/__pycache__/config.cpython-37.pyc
client/be/app/__pycache__/constants.cpython-37.pyc
client/be/app/__pycache__/helper.cpython-37.pyc
client/be/app/__pycache__/model_dispatcher.cpython-37.pyc
client/be/app/__pycache__/sim_helper.cpython-37.pyc
client/be/app/__pycache__/splitter.cpython-37.pyc
client/be/app/models/__pycache__/sententense_transformers_models.cpython-37.pyc
client/be/app/__pycache__/sim_helper.cpython-38.pyc
client/be/app/__pycache__/output_templates.cpython-38.pyc
client/be/app/__pycache__/output.cpython-38.pyc
client/be/app/__pycache__/editor.cpython-38.pyc
client/be/app/data/a/processing/ru/zh/chekhov_6_ru.txt
client/be/app/data/a/raw/en/kameraden_ru.txt
client/be/app/data/a/raw/ru/chekhov_6_ru.txt
client/be/app/data/a/raw/zh/chekhov_6_zh.txt
client/be/app/data/a/splitted/en/kameraden_ru.txt
client/be/app/data/a/splitted/ru/chekhov_6_ru.txt
client/be/app/data/a/splitted/zh/chekhov_6_zh.txt
client/be/app/data/b/download/kameraden_ru_ru_20200910_200200.tmx
client/be/app/data/b/processing/ru/en/kameraden_ru.txt
client/be/app/data/b/raw/en/kameraden_en.txt
client/be/app/data/b/raw/ru/kameraden_ru.txt
client/be/app/data/b/splitted/en/kameraden_en.txt
client/be/app/data/b/splitted/ru/kameraden_ru.txt
client/be/app/static/img/a/chekhov_6_ru.txt.best.png
client/be/app/static/img/a/chekhov_6_ru.txt.png
client/be/app/static/img/b/kameraden_ru.txt.best.png
client/be/app/static/img/b/kameraden_ru.txt.png
client/be/app/__pycache__/state_manager.cpython-38.pyc
client/be/app/__pycache__/editor.cpython-37.pyc
client/be/app/__pycache__/output.cpython-37.pyc
client/be/app/__pycache__/output_templates.cpython-37.pyc
client/be/app/__pycache__/state_manager.cpython-37.pyc
debug.log
client/be/app/models/__pycache__/use_multilingual_models.cpython-37.pyc
client/be/app/__pycache__/language_helper.cpython-38.pyc
