.div-table {
    display: table;
    margin: 0 auto;
  }
  
  .div-table > .cell {
    display: table-cell;
    vertical-align: middle;
  }
  
  .div-table > .div-row {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }
  
  .div-table > .div-row > .cell {
    display: table-cell;
    vertical-align: middle;
  }

.v-a-top {
  vertical-align: top !important;
}

.v-a-mid {
  vertical-align: middle !important;
}

.v-a-text-top {
  vertical-align: text-top !important;
}

.v-a-bottom {
  vertical-align: bottom !important;
}

.inline {
  display:inline;
}

.w-100 {
  width: 100%;
}

.f-w-300 {
  font-weight: 300;
}

.f-w-400 {
  font-weight: 400;
}

.f-w-500 {
  font-weight: 500;
}

.f-w-900 {
  font-weight: 900;
}

.f-s-8 {
  font-size: 8px !important;
}

.f-s-10 {
  font-size: 10px !important;
}

.f-s-12 {
  font-size: 12px !important;
}

.f-s-13 {
  font-size: 13px !important;
}

.f-s-14 {
  font-size: 14px !important;
}

.f-s-15 {
  font-size: 15px !important;
}

.f-s-16 {
  font-size: 16px !important;
}

.f-s-18 {
  font-size: 18px !important;
}

.f-s-20 {
  font-size: 20px !important;
}

.f-s-22 {
  font-size: 22px !important;
}

.f-s-24 {
  font-size: 24px !important;
}

.f-s-26 {
  font-size: 26px !important;
}

.f-s-28 {
  font-size: 28px;
}

.f-s-30 {
  font-size: 30px;
}

.f-s-34 {
  font-size: 34px;
}

.f-s-36 {
  font-size: 36px;
}

.f-s-38 {
  font-size: 38px;
}

.f-s-40 {
  font-size: 40px;
}

.f-s-42 {
  font-size: 42px;
}

html { font-family: 'Segoe UI', sans-serif; background: #ffffff; }