server {
  listen       $PORT default_server;
  server_name  localhost;
  location / {
    root   /app;
    index  index.html;
    try_files $uri $uri/ /index.html;
  }
  error_page   500 502 503 504  /50x.html;
  location = /50x.html {
    root   /usr/share/nginx/html;
  }
  #pass /api requests to Flask backend
  # location /api {
  #   include uwsgi_params;
  #   uwsgi_pass localhost:8080;
  # }
}
